@import '../../styles/fonts.scss';
@import '../../styles/variables/colors.scss';

.container {
    height: auto;
    --bs-gutter-x: 0 !important;
    flex-wrap: nowrap !important;

    h1 {
        font-weight: 400;
    }
}

.tableContainer {
    height: fit-content;
    max-height: 700px;
    padding-bottom: 0;

    table {
        margin-bottom: 0;
    }
    thead {
        top: 0px;
        margin: 0 0 0 0;
    }
    table th {
        padding: 15px !important;
    }
}

.body {
    padding-left: 0px;
    padding-right: 20px;
    overflow-x: auto;

    &.sidebarClosed {
        width: 95%;
    }
}

.sidebarTitle {
    margin-top: 60px !important;
    white-space: nowrap;
}

.clamp {
    min-width: 1475px;
}

.row {
    padding: 25px 15px 0px 25px;
    --bs-gutter-x: 0 !important;
}

.flex {
    display: flex;
    padding: 0;
}

.dropdown {
    width: 176px !important;
    margin-right: 2.25rem;
}

.aggByDropdown {
    width: 300px !important;
    margin-right: 2.25rem;
}

.button {
    margin-top: 30px;
    margin-left: 35px;
}

.forceRight {
    margin-left: auto;
}

@media (max-width: 991px) {
    .container {
        flex-wrap: wrap !important;
    }

    .body.sidebarClosed {
        width: 100%;
    }

    .sidebarTitle {
        margin-top: 0 !important;
    }
}
