@import '../../styles/variables/colors.scss';
@import '../../styles/fonts.scss';

.container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 0;
}

.menuItems {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 16px 10px 25px;
}

.menuItems:hover {
    background-color: #d2d2d2;
}

.selected {
    background-color: #d2d2d2;
    border-right: 8px solid $PrimaryBackground;
}
