@import '../../styles/variables/colors.scss';
@import '../../styles/fonts.scss';

// TODO might need to add a margin to the overrall table so the box-shadow works better
.container {
    overflow: auto;
    font-family: 'Open Sans Variable', sans-serif;
    max-height: 1000px;

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    table thead {
        border-top: 1px solid red;
        position: sticky;
        top: 0;
        margin: 0 0 0 0;
        z-index: 0;
    }

    table th {
        vertical-align: middle;
        text-align: center;
        background-color: $HeaderBackground;
        color: white;
        padding: 15px 15px;

        svg {
            margin-left: 10px;
        }
    }

    table tr td {
        padding: 20px 15px;
        vertical-align: middle;
        text-align: center;
        border-left: none;
        border-right: none;
        word-wrap: break-word;
        text-wrap: wrap;
    }

    .table tbody {
        background-color: white;
    }

    .table tbody tr {
        --bs-border-width: 0;

        &:nth-of-type(odd) > * {
            --bs-table-striped-bg: #f7f7f7;
        }
        &:nth-of-type(even) > * {
            background-color: #eeeeee;
        }
    }

    .table tbody tr td {
        color: #494949;
    }

    table th.alignLeft,
    .table tbody tr td.alignLeft {
        text-align: left;
    }

    .expandedSection {
        padding: 0;
    }

    .table tbody tr:hover {
        margin: 40px;
        -moz-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)';
        zoom: 1;
        z-index: 10;
    }

    .table tbody tr.noHover {
        box-shadow: none;
    }
}

.expandableContainer {
    font-family: 'Open Sans Variable', sans-serif;
    table th {
        vertical-align: middle;
        text-align: center;
        background-color: #003e70;
        color: white;
        padding: 15px 15px;
    }

    table tr td {
        padding: 5px 15px;
        text-align: center;
        vertical-align: middle;
        border-left: none;
        border-right: none;
        word-wrap: break-word;
        overflow-x: wrap;
        overflow-y: visible !important;
    }

    .table tbody {
        background-color: white;
    }

    .table tbody tr {
        --bs-border-width: 0;
    }

    .table tbody tr td {
        color: #494949;
    }

    .table tbody tr td.nestedRow0 {
        background-color: #eeeeee;
    }

    .table tbody tr td.nestedRow1 {
        background-color: #f7f7f7;
    }

    table th.alignLeft,
    .table tbody tr td.alignLeft {
        text-align: left;
    }

    .table tbody tr:hover {
        margin: 40px;
        -moz-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)';
        zoom: 1;
        z-index: 10;
    }

    .table tbody tr.noHover {
        box-shadow: none;
    }
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.button {
    border-radius: 23px;
    letter-spacing: 0;
    box-shadow: none !important;
}

.large {
    height: 50px;
    width: 250px;
    font: normal normal normal 18px/22px Arial;
}

.medium {
    height: 40px;
    width: 150px;
    font: $primary-font;
}

.small {
    height: 50px;
    width: 50px;
    font: $primary-font;
}

.auto {
    width: auto;
    font: $primary-font;
}

.sortTextHeader {
    vertical-align: middle;
    margin-right: auto;
    padding-right: 0 !important;
}

.sortHeader {
    vertical-align: baseline;
    text-align: center;
    width: 25px;
    margin: auto 0;
}

.row {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.container table th .textHeader a {
    margin-left: 10px;

    svg {
        margin: 0;
    }
}

// Approved Data Table Styling

.buttonSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.generalButton {
    height: 32px;
    padding: 15px;
    font: $primary-font;
    font-weight: 600;
}

.studyTable {
    margin-bottom: 20px;
    min-width: 750px;
}

.leftSide {
    display: flex;
    align-items: center;

    button {
        margin-right: 20px;
    }
    .inlineDropdown {
        flex-direction: row !important;
        align-items: center;
    }
    .filterSelect {
        width: fit-content !important;
    }

    .label {
        font-weight: 600;
        margin: 0 5px 0 0 !important;
    }
}

.offWhite table {
    & > tbody > tr:nth-of-type(odd) > * {
        --bs-table-striped-bg: #f7f7f7;
    }
    & > tbody > tr:nth-of-type(even) > * {
        background-color: #eeeeee;
    }
}

.alertContainer {
    width: 100%;
}

.errorText {
    font-size: 18px;
    font-weight: bold;
}
