$error: #ff5353;
$background: white;
$offWhiteBG: #f3f3f3;
$seconaryNavColor: #297fd5;
$white: #ffffff;
$teal: #00889d;
$borderColor: black;
$selectedBorder: #103f74;
$primary-color: #437b83;
$disable-color: #858585;

/* Inputs */
$label: #404040;

/* Buttons */
$PrimaryBackground: #00889d;
$PrimaryColor: white;
$PrimaryHover: black;
$PrimaryHoverColor: white;

$SecondaryBackground: black;
$SecondaryHover: #00889d;
$SecondaryColor: white;

$TertiaryBackground: white;
$TertiaryColor: #00889d;
$TertiaryOutlineColor: #00889d;
$TertiaryHover: #00889d;
$TertiaryOutlineHoverColor: #00889d;
$TertiaryHoverColor: white;

$QuaternaryBackground: white;
$QuaternaryColor: black;
$QuaternaryHover: #00889d;
$QuaternaryOutlineColor: #00889d;
$QuaternaryHoverColor: white;

$QuinaryBackground: #00889d;

$SuccessColor: #198754;
$WarningColor: #c9a128;
$DangerColor: #da1e28;
$InfoHover: #687487;
$LightColor: #d9d9d9;
$DarkColor: #1f2327;
$LinkColor: local;

$link: #2c74b3;
$linkHover: #003d73;

// Table Header
$HeaderBackground: #003e70;

// Base Colors
$dark-gray: #5c687b;
$pink: #e91e63;
$red: #c21858;
$purple: #9c27b0;
$violet: #5727b0;
$blue: #175b9e;
$cyan: #276bb0;
$lightgreen: #57dcbe;
$green: #60c689;
$yellow: #fbc140;
$white: #ffffff;
$black: #000000;
