
.wrappedImg {
    display: block;
    float: left;
    padding: 15px;
    min-width: 400px;
    max-width: 400px;
}

.wrappedText {
    float: right;
    padding-bottom: 20px;
    padding-top: 20px;
}

.introText {
    padding-top: 25px;
    padding-bottom: 10px;
}
