@import '../../../../styles/fonts.scss';
@import '../../../../styles/variables/colors.scss';

.selectRow {
    font-family: $primary-family;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.selectClass {
    font: normal normal bold 13px/15px 'Open Sans Variable', sans-serif !important;
    box-shadow: none !important;
    padding: 0px 25px 0px 10px;
    height: 27px !important;
    border-radius: 0 !important;
    border: 1px solid #b2b2b2 !important;
    background-position: right 4px center;

    &:hover {
        border: 1px solid $teal !important;
    }
}

.selectContainer {
    margin-right: 10px;
    height: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.bolded {
    font-weight: 600;
    margin-right: 10px;
}
