.spinnerContainer {
    background: rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;
    z-index: 50000;
    top: 0;
    position: fixed;
    text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
}
