@import '../../../styles/variables/colors.scss';
@import '../../../styles/fonts.scss';

.bigModal {
    --bs-modal-width: 80vw;
}

.modal {
    font-family: $primary-family;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.variablesList {
    column-count: 3;
    column-gap: 30px;

    li {
        word-break: break-all;
    }
}

@media (max-width: 991px) {
    .variablesList {
        column-count: 2;
    }
}

@media (max-width: 700px) {
    .variablesList {
        column-count: 1;
    }
}
